<h1>Listing matchings</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Store</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matchings.each do |matching| %>
      <tr>
        <td><%= matching.customer_id %></td>
        <td><%= matching.store_id %></td>
        <td><%= link_to 'Show', matching %></td>
      </tr>
    <% end %>
  </tbody>
</table>
